# ============================
# Django / Python
# ============================
backend/env/              # Your virtual environment
backend/__pycache__/
backend/**/*.pyc
backend/*.sqlite3
backend/db.sqlite3
backend/*.log
backend/project/settings.py

# Ignore Django local settings or env files
backend/.env
backend/settings.py

# Ignore Dockerfiles
backend/Dockerfiles
frontend/Dockerfiles
nginx/default.conf
docker-compose.yml

# Django static/media (optional)
backend/staticfiles/
backend/media/

# ============================
# Node / Next.js
# ============================
frontend/node_modules/
frontend/.next/
frontend/dist/
frontend/out/

# Next.js caches
frontend/.next/cache/

# Next.js environment files
frontend/.env
frontend/.env.local
frontend/.env.production
frontend/.env.development
frontend/.env.test
frontend/lib/axiosInstance.js
# ============================
# General Environment / Secrets
# ============================
.env
*.env
*.env.*


# ============================
# OS Files
# ============================
.DS_Store
Thumbs.db

# ============================
# IDE / Editor
# ============================
.vscode/
.idea/

# ============================
# Git internal
# ============================
.git/

