# Hide TypeScript from the statistics
*.tsx linguist-detectable=false

# Explicitly enable JavaScript and Python detection
*.js linguist-detectable=true
*.jsx linguist-detectable=true
*.py linguist-detectable=true
